* {
    background-color: #272822;
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    text-align: center;
}

h1 {
    color: #66D9EF;
}

a {
    color: #F92672;
}

a:visited {
    color: #F92672;
}

p {
    color: #E6DB74;
}

h2 {
    color: #66D9EF;
}